---
import { getCollection, type CollectionEntry } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';
import CatCard from '../components/CatCard.astro';

export interface Props {
  cats: CollectionEntry<'cats'>[];
  pageNums: number[];
}

export async function getStaticPaths() {
  const allCats = (await getCollection('cats')).sort(
    (a, b) => b.data.dateAdded.valueOf() - a.data.dateAdded.valueOf()
  );

  const NUM_CATS_PER_PAGE = 18;
  const maxPageNum = Math.ceil(allCats.length / NUM_CATS_PER_PAGE);

  // Create an array of integers in range from 1 to maxPageNum inclusive:
  const allPageNums = [...Array(maxPageNum + 1).keys()].slice(1);

  return allPageNums.map((pageNum) => ({
    params: { page: pageNum === 1 ? undefined : pageNum.toString() },
    props: {
      cats: allCats.slice(
        NUM_CATS_PER_PAGE * (pageNum - 1),
        NUM_CATS_PER_PAGE * pageNum
      ),
      pageNums: allPageNums
    }
  }));
}

const { page } = Astro.params;
const { cats, pageNums } = Astro.props;
const currentPageNum = Number(page || '1');
---

<BaseLayout title={page ? `Page ${page}` : undefined}>
  <div class="row">
    {
      cats.map((cat) => (
        <div class="col-12 col-6-md col-4-lg">
          <CatCard cat={cat} />
        </div>
      ))
    }
  </div>
  <nav class="nav" aria-label="Page navigation">
    <div class="nav-center">
      {
        pageNums.map((num) => (
          <a
            href={`/${num === 1 ? '' : num.toString()}`}
            class:list={[{ active: num === currentPageNum }]}
          >
            {num}
          </a>
        ))
      }
    </div>
  </nav>
</BaseLayout>

<style>
  .nav {
    margin-top: 1rem;
  }

  .nav a {
    color: var(--font-color);
    font-size: 2rem;
  }

  .nav a.active {
    color: var(--color-primary);
    font-weight: bold;
  }

  .nav a:hover {
    text-decoration: underline;
  }
</style>
