<footer class="bd-light text-center">
  <p>
    Made with 🧠 by <span lang="pl"
      ><a href="https://maciejpedzi.ch">Maciej Pędzich</a></span
    >. Built with <a href="https://astro.build">Astro</a>, <a
      href="https://jenil.github.io/chota">Chota</a
    >, and <a href="https://usebasin.com">Basin</a>. Proudly self-hsoted.
  </p>
  <div id="ext-links">
    <a href="https://github.com/maciejpedzich/cats-album">Source Code</a>
    <a
      href="https://analytics.maciejpedzi.ch/share/M3WRVVjAydglPQW2/cats.maciejpedzi.ch"
      >Analytics</a
    >
  </div>
</footer>

<style>
  footer {
    margin: 2rem 0 3rem 0;
    padding: 1rem;
  }

  p {
    margin: 1rem 0;
  }

  #ext-links {
    display: flex;
    justify-content: center;
    gap: 0 1rem;
    padding-bottom: 1rem;
  }
</style>
